<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>NotesApp</h1>
            <nav>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
        </header>
         <section>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quis enim quia voluptas? Accusamus in iure nam voluptate esse magnam, repudiandae ea quo aspernatur nemo nostrum quaerat! Laudantium, facere odio!</p>
         </section>   

        
    </div> 
</body>
</html>